<!DOCTYPE html>
<html>
<head>
    <title>Location Category Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <style>
        .nav-link.active {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 0.25rem;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Reports Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq currentRoute '/')}}active{{/if}}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq currentRoute '/category-location-report')}}active{{/if}}" 
                           href="/category-location-report">Category Location Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq currentRoute '/gsc-report')}}active{{/if}}" 
                           href="/gsc-report">GSC Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq currentRoute '/semrush-report')}}active{{/if}}" 
                           href="/semrush-report">Semrush Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq currentRoute '/dataforseo-report')}}active{{/if}}" 
                           href="/dataforseo-report">DataForSEO Tool</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq currentRoute '/ga4-report')}}active{{/if}}" 
                           href="/ga4-report">GA4 Report</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle"></i> {{user.username}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/admin/users">
                                <i class="bi bi-people"></i> User Management
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">
                                <i class="bi bi-box-arrow-right"></i> Logout
                            </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {{{body}}}
    </div>

    <!-- Load scripts in correct order -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
    
    <!-- Place for page-specific scripts -->
    {{{_sections.scripts}}}
</body>
</html> 